button {margin: 10px;}

dialog{
  background-color: var(--bg);
  border: 2px solid silver ;
}

li {
  background-color: var(--bg-highlight);
  color: inherit;
  border-radius: 0.25rem 1rem 1rem 1rem;
  padding: 0px 10px;
  margin: 10px;
  border: 1px silver solid;
}

ol{
  padding-left: 0;
}

input,textarea{
  width: 100%;
}